.contactUsLeft h1 {
  font-size: 48px;
  color: #1e31f9;
}

.contactAddr h6 {
  color: #1e31f9;
}

.contactEmail header {
  color: #1e31f9;
}

.ContactUSButton button {
  background-color: #1a60f6;
  color: white;
  border: 0 !important;
  border-radius: 5px;
}
.ContactUSButton button:hover {
  background-color: #080a60;
}

@media only screen and (max-width: 768px) {
  .contactUsLeft h1 {
    font-size: 30px !important;
    justify-content: start !important;
  }

  .contactUsCard {
    width: 100% !important;
  }
}
