.divSlider {
  display: flex;
  background: url("../../../assets/images/pattern/img_pattern3.svg") no-repeat
    right center;
}

.arrow-back {
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  color: #1a60f6;
}

.arrow-forward {
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  color: #1a60f6;
}

.sliderNum {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sliderNum span {
  color: #ccd2ff;
}

.sliderNumDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid #1c2ff7;

  border-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 0 13px 30px -7px rgb(0 0 0 / 17%);
}

.sliderNumDiv span {
  font-size: 20px;
  font-weight: 500;
  color: #1c2ff7;
}

.disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid #ccd2ff;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.disabled span {
  font-size: 20px;
  font-weight: 500;
  color: #ccd2ff;
}
