.sec2header {
  -webkit-backdrop-filter: blur(360px);
  backdrop-filter: blur(360px);
  background-image: url("../../../assets/images/background/img_bg.png");
  background-size: cover;
}

.section2img {
  background: url("../../../assets/images/pattern/img_pattern1.svg") no-repeat
      left top,
    url("../../../assets/images/pattern/img_pattern2.svg") no-repeat right
      bottom;
  background-size: auto;
}

.cardsec {
  border-radius: 10px;
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
  box-shadow: 0 13px 30px -7px rgba(0, 0, 0, 0.17);
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.7) 101%,
    rgba(255, 255, 255, 0.1) -1%
  );
}

.cardsec div h4 {
  font-size: 20px;
  font-weight: bold;
}

.cardsec div p {
  font-size: 18px;
  font-weight: normal;
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .sec2subHeader {
    font-size: 16px !important;
  }
  .section2img img {
    width: 75% !important;
  }
}
