.avatar {
  background: url("../../../assets/images/background/img_BGAboutus.png")
    no-repeat center center;
  background-size: cover;
}
.background {
  position: relative;
  /* background-color: #031642; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.backgroundSpan {
  color: #38aaf4;
}
.profileImage {
  visibility: visible;
  width: 100%;
}

.para {
  position: relative;
  font-size: 13px;
  text-align: justify;
}

.img__description_layer {
  position: absolute;
  color: #fff;
  visibility: hidden;
  opacity: 1;
  transition: opacity 0.2s;
  bottom: 0;
}

.background:hover {
  background-color: #090c13;
  box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.34);
}
.background:hover .backgroundTitle {
  color: white;
}

.background:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}
.background:hover .profileImage {
  visibility: hidden;
}
@media only screen and (max-width: 768px) {
  .ourTeam span {
    font-size: 13px !important;
    text-align: center !important;
    width: 75% !important;
  }
  .para {
    font-size: 12px !important;
  }
  .backgroundSpan {
    font-size: 13px !important;
  }
}
