.carousel .control-dots .dot {
  background-color: #ccc;
  border: 2px solid #2366f6;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 8px;
  transition: background-color 0.3s, border 0.3s;
}

.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
  background-color: #1e31f9;
  border: 2px solid #1e31f9;
}

@media only screen and (max-width: 600px) {
  .howItWorksSec2 {
    margin-top: 5rem !important;
  }
  .howItWorksSec2Slider h6 {
    font-size: 13px !important;
  }
  .titleImg {
    width: 100% !important;
  }
  .howItWorksCarousel {
    width: 100% !important;
  }
}
