.sec5Left span {
  text-align: left;
  color: #212121;
}

.sec5Left span span {
  text-align: left;
  margin-right: 360px;
}

@media only screen and (max-width: 768px) {
  .sec5LeftPara {
    width: 100% !important;
  }
  .sec5Right img {
    width: 40% !important;
  }
}
