.sec1Title {
  background: url("../../../assets/images/background/banner_bg_white_03.png")
    no-repeat;
  background-size: cover;
}

.sec1Title h1 {
  color: #1e31f9;
}

.navbarCustom {
  position: absolute;
  top: 90% !important;
  box-shadow: 0 20px 47px -8px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
  .sec1Title h1 {
    width: 100% !important;
  }
}
