.section1Aboutus {
  background-image: url("../../../assets/images/background/aboutusBG.png");
  background-size: cover;
}

.aboutusHeader h1 {
  color: #1e31f9;
}
@media only screen and (max-width: 600px) {
  .aboutusHeader h1 {
    width: 100% !important;
  }
  .aboutusHeader span {
    width: 100% !important;
  }
}
