.section5hiw {
  background: url("../../../assets/images/pattern/img_pattern4.svg") no-repeat
    right center;
  background-size: contain;
}
.sec5hiwCardsHeader {
  color: #1e31f9;
}

.blockchainCard {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.blockchainCard p {
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .sec5Header p {
    width: 100% !important;
  }
}
