.homeSec1Img img {
  width: 10%;
  margin-right: 40px;
}
.input-group {
  height: 40px;
}
.input-group .form-control {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.input-group .input-group-text {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background-color: #1a60f6;
  color: white;
  font-weight: 500;
  font-family: Manrope;
}

@media only screen and (max-width: 600px) {
  .input-group {
    width: 100% !important;
  }
  .section1span {
    font-size: 13px !important;
  }
  .homeSec1Img img {
    width: 25%;
  }
}
