.header {
  display: flex;
  height: 60px;
  background-color: rgba(255, 255, 255, 0);
  position: sticky;
  top: 0;
  z-index: 999;
}

.headerActive {
  background-color: #ffffff91;
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
}

.navLeft img {
  /* width: 168px; */
  height: 57px;
  cursor: pointer;
  margin-top: -20px;
  pointer-events: auto;
}

.navItem {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.navItem:hover {
  color: #1a60f6;
}
.navRight #active {
  color: #1a60f6;
}
