body {
  font-family: "Manrope", sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
  display: flex;
  align-items: center;
  justify-content: center;
  /* -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory; */
  /* overflow-y: scroll; */
}
/* body section {
  scroll-snap-align:start;
} */
code {
  font-family: 'Manrope', sans-serif;
}
