body {
  font-family: "Manrope", sans-serif;
}
code {
  font-family: "Manrope", sans-serif;
}
.requestModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700;
  height: 580;
  background-color: white;
  border-radius: 10px;
}
.bor {
  border: 1px solid red;
}
.link {
  text-decoration: none;
  color: inherit;
}
